/* 
font-family: 'Cookie', cursive;
font-family: 'Quicksand', sans-serif;
*/

/* General styling */
body{
    font-family: 'Quicksand', sans-serif;
}

.page-links{
    color: #111111;
    font-weight: bolder;
}

.page-links:hover{
    font-size: larger;
    color: #111111;
}

/* Navbar */
ul,li{
    list-style: none;
}

.navbar{
    padding: 1vw;
    margin: 0;
}

.navbar-collapse{
    float: right;
    padding-top: 1.5vh;
}

.navbar-brand{
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-family: 'Cookie', cursive;
    letter-spacing: 2px;
    font-size:4rem;
    padding: 1vw;
    font-weight: 700;
    color: black;
}

.navbar-brand:hover{
    font-family: 'Cookie', cursive;
    font-size: 5rem;
    text-decoration: none;
    color: #9A9483;
}

.nav-link{
    text-decoration: none;
    top: 1vh;
    padding:1vw;
    font-size: large;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color:#4d4d4d;
}

.nav-link:hover{
    text-decoration: none;
    font-size: larger;
    color: #111111;
}

.navbar-toggle{
    background-color: #FCDEC0;
}

/* Sign up and sign in pages */
.reg-pages{
    background-color:#E5DCC3;
    width: 40%;
    padding: 4vh;
    margin: auto;
}

/* Homepage */
.homepage{
    background-image: url('assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100vh;
    color:black;
    font-weight: bold;
}

.intro-first{
    margin: auto 0;
    float:right;
    text-align: center;
    width: 40%;
    font-size: 4rem;
    padding-right: 6vw;
    padding-top:17vh;
}

.intro-next{
    font-family: 'Cookie', cursive;
    font-size: 6rem;
    color:#111111;
}
