/* 
font-family: 'Cookie', cursive;
font-family: 'Quicksand', sans-serif;
*/

/* General styling */
body{
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.page-links{
    color: #111111;
    font-weight: bolder;
}

.page-links:hover{
    font-size: larger;
    color: #111111;
}

.text-center{
    text-align: center;
}

.display-blog-comments{
    margin-top: 4vh;
}

.new-blog{
    padding:4vh;
}

.update-profile{
    width: 50%;
    margin: auto;
}

.comments-display{
    margin-top: 2vh;
}

a:hover{
    text-decoration: none;
}


/* Navbar */
ul,li{
    list-style: none;
}

.navbar{
    padding: 1vw;
    margin: 0;
}

.navbar-collapse{
    float: right;
    padding-top: 1.5vh;
}

.navbar-brand{
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-family: 'Cookie', cursive;
    letter-spacing: 2px;
    font-size:4rem;
    padding: 1vw;
    font-weight: 700;
    color: black;
}

.navbar-brand:hover{
    font-family: 'Cookie', cursive;
    font-size: 5rem;
    text-decoration: none;
    color: #9A9483;
}

.nav-link{
    text-decoration: none;
    top: 1vh;
    padding:1vw;
    font-size: large;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color:#4d4d4d;
}

.nav-link:hover{
    text-decoration: none;
    font-size: larger;
    color: #111111;
}

.navbar-toggle{
    background-color: #E5DCC3;
}

/* Sign up and sign in pages */
.reg-pages{
    background-color:#E5DCC3;
    width: 40%;
    padding: 4vh;
    margin: auto;
}

/* Homepage */
.homepage{
    background-image: url('assets/background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0;
    height: 85vh;
    color:black;
    font-weight: bold;
    position: relative;
}

.blog-image{
    background-image: url('assets/blogimg.jpg');
    height: 60vh;
}

.intro-first{
    margin: auto 0;
    text-align: right;
    width: 40%;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
}

.intro-next{
    font-family: 'Cookie', cursive;
    font-size: 5rem;
    color:#111111;
}

/* Profile page */
.new-blog-btn{
    float: right;
}

.profile-pic{
    border-radius: 50%;
    size: smaller;
}

.profile-page{
    background-color: #E5DCC3;
    padding: 2vh;
}

.btn-primary{
    background-color: #9A9483 !important;
    font-weight: bolder;
    padding: 1vh;
    text-decoration: none;
}

.user-blog{
    margin-top: 4vh;
}

.blog-separator{
    background-color: #4d4d4d;
}

/* Blogs display */
.blogs-display{
    padding: 2vh 4vw;
    background-color: #E5DCC3;
    height: 100vh;
}

.blog-others{
    padding: 0 1vw;
}

.author-quote{
    font-family: 'Cookie', cursive;
    font-size: large;
}

.quote-quote{
    font-size: larger;
}

.quote-display{
    width:60%;
    margin: auto;
}


/* Media Queries */ 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .homepage{
        background-size:contain;
        height: 100vh;
    }
    .intro-first{
        text-align: center;
        width: 80%;
        top: 60%;
        transform: translateY(-50%);
        line-height: 2em;
        background-color: #E5DCC3;
        padding: 0 1vw;
    }
    .navbar-brand{
        padding-top: 3vh;
    }
    .reg-pages{
        width: 80%;
        margin-top: 10vh;
    }
    .new-blog{
        padding:6vh 4vh;
    }
    .update-profile{
        padding-top: 6vh;
    }
    .display-individual-blog{
        padding: 2vh;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 825px) {
    .homepage{
        background-size:contain;
        height: 100vh;
    }
    .intro-first{
        text-align: center;
        width: 80%;
        top: 50%;
        transform: translateY(-50%);
        line-height: 2em;
        background-color: #E5DCC3;
        padding: 0 1vw;
    }
    .reg-pages{
        width: 60%;
        margin-top: 10vh;
    }

    .profile-pic{
        width: 100%;
        margin: auto;
    }
    .new-blog{
        padding:6vh 4vh;
    }
    .display-individual-blog{
        padding: 3vh;
    }
    .blog-image{
        background-size: contain;
    }
    .new-blog-form{
        margin-top: 2vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   
}