{% extends 'base_blog.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="display-individual-blog">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <img src="" alt="blog-img" class="blog-img">
            <h3 class="blog-title">{{blog.title}}</h3>
            <p class="blog-story">{{blog.blog}}</p>
            <p class="">
                Category: {{blog.category}}
                <span class="blog-votes">
                    <a class="blog-others" href="/upvotes/{{blog.id}}">&#128077; {{blog.upvotes.count()}}</a>
                    <a class="blog-others" href="/downvotes/{{blog.id}}">&#x1F44E; {{blog.downvotes.count()}}</a>
                </span>
            </p>
        </div>
        <div class="col-md-4">
            <div class="comment-form">
                <!-- <a href="/add/comment/{{blog.id}}" class="btn-primary">ADD COMMENT</a> -->
                {{ wtf.quick_form(new_comment_form) }}
            </div>
            <div class="comments-display">
                {% if comments %}
                    {% for comment in comments %}
                    <div class="each-comment"> 
                        <p>{{comment.comment}}</p>
                        {% if current_user %}
                        <a href="/delete/comment/{{comment.id}}/blog/{{blog.id}}">Delete Comment</a>
                        {% endif %}
                    </div>
                    
                    {% endfor %}
                {% else %}
                    <p>No comments for this post.</p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}